.title-404 {
  font-size: 80px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.sub-title-404 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.color-dark {
  color: #61222d;
}

.text-wrapper {
  margin: 20px 0 40px;
}
