.search {
  &-box {
    padding: 10px 0 0;
    height: calc(100vh - 350px);
    max-height: calc(100vh - 350px);
    overflow: auto;
  }
  &-items {
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
  }
}
