.badge {
  &-list {
    padding: 0;
    margin: 0;
    list-style: none;

    &--medium {
      max-height: 105px;
      overflow: auto;
    }
  }

  &-item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid var(--border-color-primary);
    border-radius: var(--border-radius-small);
    background-color: #fee9e6;
    position: relative;
    margin-bottom: 5px;
    margin-right: 5px;

    .close {
      display: inline-block;
      cursor: pointer;
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}
