.breadcrumb {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
  }
  &__item {
    & + .breadcrumb__item {
      padding-left: 0.5em;

      &:before {
        float: left;
        padding-right: 0.5rem;
        color: var(--text-color-primary-light);
        content: "/";
      }
    }
  }

  &__link {
    color: var(--text-color-secondary);
    text-transform: capitalize;

    &.active {
      color: var(--text-color-primary-light);
    }
  }
}
