.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-auto {
  flex: auto;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  &--fluid {
    max-width: 100%;
  }
}

.ml-auto {
  margin-left: auto;
}

.grid {
  display: flex;

  &--col-2 {
    justify-content: space-between;
    .grid__cell {
      flex: 0 0 calc(50% - 20px);
    }
  }
}
