.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-auto {
  flex: auto;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  &--fluid {
    max-width: 100%;
  }
}

.ml-auto {
  margin-left: auto;
}

.grid {
  display: flex;

  &--col-2 {
    justify-content: space-between;
    .grid__cell {
      flex: 0 0 calc(50% - 20px);
    }
  }

  &--6of12 {
    flex: 0 0 calc(100 / 12 * 6% - 20px);
  }

  &--8of12 {
    flex: 0 0 calc(100 / 12 * 8% - 20px);
  }

  &--4of12 {
    flex: 0 0 calc(100 / 12 * 4% - 20px);
  }
}
.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}
