.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-auto {
  flex: auto;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.grid {
  display: flex;
}
